#!/bin/bash

export SOLR_INSTALL=/apps/solr-6.4.0
export SOLR_HOME=/apps/solr/solr
export SOLR_LOGS_DIR="$SOLR_HOME/logs"
export SOLR_PID_DIR="$SOLR_HOME"
export SOLR_PORT=8984

case "$1" in
    start)
        export SOLR_SSL_KEY_STORE="$SOLR_HOME/solr-ssl.keystore.jks"
        export SOLR_SSL_KEY_STORE_PASSWORD=changeme
        export SOLR_SSL_TRUST_STORE="$SOLR_HOME/solr-ssl.keystore.jks"
        export SOLR_SSL_TRUST_STORE_PASSWORD=changeme
        cd "$SOLR_INSTALL"
        bin/solr start
        ;;
    startnossl)
        cd "$SOLR_INSTALL"
        bin/solr start
        ;;
    stop)
        cd "$SOLR_INSTALL"
        bin/solr stop
        ;;
    *)
        echo "Unknown command $1" >&2
        exit 1
        ;;
esac
